@media (max-width: 767.98px) { 
    .col-xs {
        width: 40%;
    } 
    .books {
        margin-left: 20px;
        
    }
} 

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { .col {width: 30%;} }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { .col {width: 50%;} }


.description {
    width: 600px; 
    height: 200px;
    border: 0.5px solid #000000;
    padding: 15px;
    text-align: left;
    /* overflow-x: hidden; Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
   

}

/* search bar */
.search-form {
    margin-top: 20px;
}
/* .description.a {
    word-wrap: break-word;
    overflow: scroll;
    margin-bottom: 30px;
    padding: 15px;
    
} */

.books {
    margin: 100px 0 200px 450px;
    border-style: double;
    width: 1000px;
    justify-content: center;
    padding: 40px;
}




.book-title-row,
.authors-row {
    justify-content: center;
}




.book-title{
    text-align: center;
}

.single-description {
    justify-content: center;
}
/* .pagination {
    justify-content: center;
} */

  

/* .book-title-row,
.authors-row {
    justify-content: center;
} */

/* .image {
    margin: 0px 0px 20px 0;
    margin-left: 5px;
  }
 */
