 .header {
    background-color: #8bcdcd;
    /* padding-top: 3px;  */
    padding-bottom: 10px;
    font-size: 20px;
    word-spacing: 30px;
    font-family: 'Anton', sans-serif;
} 

/* .title {
    text-decoration: underline;
    color: black;
    text-transform: uppercase;
    margin: 30px 0 30px 0;
    background-color: #8bcdcd;
}  */


.title-banner,
.title,
.header {
    background-color: #f4eeff;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

.title {
    font-family: 'Bowlby One SC', cursive;
}

.header {
    margin-right: 20px;
}