 .header {
    
    padding-bottom: 10px;
    font-size: 20px;
    word-spacing: 30px;
    font-family: 'Anton', sans-serif;
    margin-top: 20px;
} 
.header {
    word-spacing: 100px;
}



.title-banner {
    width: 100vw;
}
.title-banner,
.title,
.header {
    background-color: #f4eeff;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-bottom: 2px;
   
}


.bookLink {
    margin-right: 30px;
    margin-left: 30px;
}



.title {
    font-family: 'Bowlby One SC', cursive;
}

.header {
    word-spacing: 100%;
}