/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */

/* .title-banner {
    background-color: white;
} */



/* // Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { ... }  */

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .col {width: 40%;}
  .image {text-align: center; } 
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { .col {width: 30%;} }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  .col {width: 100%;} 
  
}


.title-about {
  color: black;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  margin: 30px 0 0 0;
}

.description-about {
  margin: 50px 100px 50px 100px;
  
  color: black;
  font-size: 20px;
  font-family: "Anton", sans-serif;
}

.eden {
  text-decoration: underline;
  font-weight: bolder;
}

.title {
  text-decoration: underline;
  color: black;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
} */



/* button style */
.addbtn {
  background-color: #e5edb7;
  color: #8bcdcd;
  font-weight: bold;
  text-transform: uppercase;
}

.removebtn {
  background-color: #8bcdcd;
  color: #e5edb7;
  font-weight: bold;
  text-transform: uppercase;
}



* {
  text-align: center;
  background-color: #dcd6f7;
}

.description {
  text-align: center;
  font-family: "Anton", sans-serif;
}

.book-title,
.authors,
.price {
  font-family: "Anton", sans-serif;
}

.addbtn,
.removebtn {
  margin-left: 40px;
  padding-top: ;
}


